img {position: inline-block;
    margin:1em 1em 1em 1em;
    border:2px solid black;
    box-shadow: 8px 8px 0px black;

}

body {width: 100%;
	   height: 100%;
     margin-top:0px;
      font-family: 'Helvetica';
      font-size: 100%;
      line-height: 1.6875;
      background-color: rgba(255, 255, 255, 1);
}  
nav {font-family: 'Helvetica';
      color: white;
      font-weight: bold;
      font-size: 1vw;
      letter-spacing: 2px;
      vertical-align: bottom;
      text-align: center;
      word-spacing: 4em;
      padding:40px 0px 80px 0px;
}
article {padding-top: 0px;
          position:block;
          padding-left: 17em;
}
aside { width: 240px;
        display: absolute;
        padding-left: 40px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
}
section { border: 2px solid black;
          text-align: center;
          padding: 20px 20px 20px 20px;
          margin: 0px 0px 20px 0px;
}
canvas{ 
        vertical-align: top;
        position: inline-block;
        overflow: hidden;
        width: 50%;
        height: 50%;
        padding: 20px 20px 20px 20px;
        margin: 0px 0px 0px 50px;
        border: 2px solid black;   
}

h1   {font-family: 'Helvetica';
      text-align: center;
      padding-left: 0px;
      font-size: 6em;
      letter-spacing: 2px;
      color:white;
      }

h2 {font-family: 'Helvetica';
    text-align: center;
    
    font-size: .6em;
    color: black;
}

h3 {font-family: 'Helvetica';
    font-size: 1em;
    text-align: center;
    color: black;
    letter-spacing: .5px;

}

h4 {font-family: 'Helvetica';
    font-size: 1em;
    text-align: left;
    color: black;
    letter-spacing: .5px;
    padding-left: 50px;
    padding-top: 0px;
    margin: 10px 0px 40px 0px;
}

h5{text-align: center;
      padding-left: 0px;
      padding-top: 0px;
      font-size: 1em;
      letter-spacing: 2px;
      word-spacing: 10px;
      color:black;}

a{color:black;
  text-decoration: none;
  padding:40px;
}

a:hover{color:black;}

a:active{color:black;}

.activePage{border-top:10px solid black;}

label {font-family: 'Helvetica';
        font-size: .8em;
        font-weight: bold;
        color: black;
}

/*Nav*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;RE
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li {
    display: inline;
}

button {
    width: 240px;
    height: 40px;
    background-color: black; 
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    outline: none;
}

button:hover {
    background-color: green; 
    color: white;
    outline: none;
    border: none;
}

button:active {
    background-color: green; 
    color: black;
    outline: none;
    border: none;
}

/* The Slider */
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 200px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 3px;
    background: black;
    border: none;
    border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -6px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: black;
}

input[type=range]::-moz-range-track {
    width: 200px;
    height: 3px;
    background: black;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 200px;
    height: 3px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: black;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: black;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
}
input[type=range]:focus::-ms-fill-lower {
    background: black;
}
input[type=range]:focus::-ms-fill-upper {
    background: black;
}