
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PLENTY</title>
	<script src='static/chart.js'></script>
	<script src='static/jquery.min.js'></script>
	 <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
	<nav>
		<li>
			<a href="/">plenty</a>
			<a href="brief">BRIEF</a>
			<a href="research">RESEARCH</a>
			<a href="prototypes">PROTOTYPES</a>
			<a href="runSim">SIMULATION</a>
			<a href="insights">INSIGHTS</a>
			<a href="team" class="activePage">TEAM</a>
		</li>
	</nav>
	<br></br>
	<br></br>
	<br></br>
	<center>
		<a href="http://plenty.market"> <h5> http://plenty.market </h5> </a>
	</center>
	<br><br>
	<p>
		<img id="portraits" src="static/ashley.jpg">
		<img id="portraits" src="static/jing.jpg">
		<img id="portraits" src="static/noa.jpg">
		<img id="portraits" src="static/richie.jpg">
	</p>

</body>
<style>
img{width: 20%;
	float: left;
}
a:hover{color:lightgreen;}

</style>
</html>