
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>PLENTY</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <nav>
<li>
<a href="/">plenty</a>
<a href="brief" class="activePage">BRIEF</a>
<a href="prototypes">PROTOTYPES</a>
<a href="runSim">SIMULATION</a>
<a href="insights">INSIGHTS</a>
<a href="about">ABOUT</a>
</li>
</nav>
<p>
Plenty enables a micro-market that detects when you are running low on an ingredient, connects you to a peer who has it, and delivers the ingredient right to your door.
</p>

</body>
<style>
</style>
</html>