
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>PLENTY</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <nav>
	<li>
		<a href="/">plenty</a>
		<a href="brief" class="activePage">BRIEF</a>
		<a href="research">RESEARCH</a>
		<a href="prototypes">PROTOTYPES</a>
		<a href="runSim">SIMULATION</a>
		<a href="insights">INSIGHTS</a>
		<a href="team">TEAM</a>
	</li>
	</nav>
	<div class="content">
		<p>
		<h4> Future of the Sharing Economy</h4>
	<h2>
		Imagine a peer-to-peer micromarket that is enabled by sensors to optimize inventory management. 
	</h2>
		<h5>
		How would these local markets work? <br />
		How much should be autonomous versus human led? <br />
		What would incentize entities to participate in the market? <br />
		How do items move into and across the system?
		</p></h5>
	</div>
	

</body>
<style>
h4{
	font-size: 4em;
	margin-bottom: 0px;
}
h5{
	font-size: 2em;
}
h2{
	font-size: 2em;
	font-weight:bold;
	background-color:black;
	color:white;
	padding:20px;
	margin: 0px 250px 0px 250px;
}
.content{
	text-align: center;

}
a:hover{color:lightgreen;}
</style>
</html>
