
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>PLENTY</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <nav>
	<li>
		<a href="/">plenty</a>
		<a href="brief" class="activePage">BRIEF</a>
		<a href="research">RESEARCH</a>
		<a href="prototypes">PROTOTYPES</a>
		<a href="runSim">SIMULATION</a>
		<a href="insights">INSIGHTS</a>
		<a href="team">TEAM</a>
	</li>
	</nav>
	<div class="content">
		<p>
		<b><u> Future of the Sharing Economy</u></b> <br />
		Imagine a peer to peer micromarket that is enabled by sensors to optimize inventory management. <br />
		How would these local markets work? <br />
		How much should be autonomous versus human led? <br />
		What would incentize entities to participate in the market? <br />
		How do items move into and across the system?
		</p>
	</div>
	

</body>
<style>
a:hover{color:lightgreen;}
</style>
</html>
