  <!DOCTYPE html>
  <html lang="en">

  <head>
   <meta charset="utf-8" />
   <title>plenty</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <nav>
      <li>
        <a href="/">plenty</a>
        <a href="brief">BRIEF</a>
        <a href="research">RESEARCH</a>
        <a href="prototypes">PROTOTYPES</a>
        <a href="runSim" class="activePage">SIMULATION</a>
        <a href="insights">INSIGHTS</a>
        <a href="team">TEAM</a>
      </li>
    </nav>
  <br></br>
  <br></br>
  <br></br>

    <div id="controlsDiv">

      <aside>

        <script src="./static/jquery-1.11.3.js"></script>

        <script>


        function setupChartDefaults() {
          Chart.defaults.global.showTooltips = false;

          Chart.defaults.global.animationSteps = 200;
          Chart.defaults.global.animation.duration = 5000;

          Chart.defaults.global.responsive = true;
          Chart.defaults.global.animationEasing = "easeInBounce";

          Chart.defaults.global.legend.display = false;
          Chart.defaults.global.defaultLineColor = "black";

          Chart.defaults.global.defaultFontFamily = "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
          Chart.defaults.global.defaultFontColor = "black";
          Chart.defaults.global.defaultFontSize = 10;
          Chart.defaults.global.defaultFontStyle = "bold";
          
          Chart.defaults.global.elements.line.tension = 0;
          Chart.defaults.global.elements.line.borderWidth = 1;
          Chart.defaults.global.elements.line.capBezierPoints = true;

          

          steps = 10;
          max = 100;
        }


        function updateChart(response, firstTime) {
          ingredient = "lemon"
      // allProfitsChartThingy
      newData = [];

      var jsonResponse = JSON.parse(response.responseText);

      // Blow away profitChart if it exists
      // TODO try deleting all the data in the chart ... .destroy()
      console.log("******** OUTSIDE *********")

      if (!firstTime) {

        console.log("******** DESTROYING OLD GRAPHS *********")

        $("#finalStateProfitChartCanvas").remove();
        $("#finalStateFreshnessChartCanvas").remove();
        $("#finalStateWasteChartCanvas").remove();
        $("#finalStateHoursWithoutChartCanvas").remove();

        $(".chartjs-hidden-iframe").remove();

        $("#charts").append('<canvas id="finalStateProfitChartCanvas" width="800" height="600"></canvas>');
        $("#charts").append('<canvas id="finalStateFreshnessChartCanvas" width="800" height="600"></canvas>');
        $("#charts").append('<canvas id="finalStateWasteChartCanvas" width="800" height="600"></canvas>');
        $("#charts").append('<canvas id="finalStateHoursWithoutChartCanvas" width="800" height="600"></canvas>');

        /*
        $("#profitChartCanvas").remove();
        $("#charts").append('<canvas id="profitChartCanvas" width="800" height="600"></canvas>');
c
        $("#freshnessChartCanvas").remove();
        $("#charts").append('<canvas id="freshnessChartCanvas" width="800" height="600"></canvas>');

        $("#wasteChartCanvas").remove();
        $("#charts").append('<canvas id="wasteChartCanvas" width="800" height="600"></canvas>');

        $("#outOfStockChartCanvas").remove();
        $("#charts").append('<canvas id="outOfStockChartCanvas" width="800" height="600"></canvas>');
        */

      }

      // BAR CHART -- PROFIT
      finalStateProfitChartCanvasContainer = document.getElementById("finalStateProfitChartCanvas").getContext("2d");

      var finalStateProfitChart = new Chart(finalStateProfitChartCanvasContainer, {
        type: 'bar',
        data: getBarChartData(jsonResponse, "profit", ingredient),
        options: getBarChartOptions("RESTAURANTS", "NET PROFITS ($)")
      });

      // BAR CHART -- FRESHNESS
      finalStateFreshnessChartCanvasContainer = document.getElementById("finalStateFreshnessChartCanvas").getContext("2d");

      var finalStateFreshnessChart = new Chart(finalStateFreshnessChartCanvasContainer, {
        type: 'bar',
        data: getBarChartData(jsonResponse, "avgFreshness", ingredient),
        options: getBarChartOptions("RESTAURANTS", "AVERAGE FRESHNESS")
      });


     // BAR CHART -- WASTE
     finalStateWasteChartCanvasContainer = document.getElementById("finalStateWasteChartCanvas").getContext("2d");

      // Draw Chart
      var finalStateWasteChart = new Chart(finalStateWasteChartCanvasContainer, {
        type: 'bar',
        data: getBarChartData(jsonResponse, "waste", ingredient),
        options: getBarChartOptions("RESTAURANTS", "NET WASTE (LBS)")
      });

       // BAR CHART -- HOURS WITHOUT
       finalStateHoursWithoutChartCanvasContainer = document.getElementById("finalStateHoursWithoutChartCanvas").getContext("2d");

      // Draw Chart
      var finalStateHoursChart = new Chart(finalStateHoursWithoutChartCanvasContainer, {
        type: 'bar',
        data: getBarChartData(jsonResponse, "hoursWithout", ingredient),
        options: getBarChartOptions("RESTAURANTS", "HOURS WITHOUT")
      });
    }

  function getStatsText(response) {
    /*
    self.simData["stats"]["avgProfit"] = avgProfit
    self.simData["stats"]["avgFreshness"] = avgFreshness
    self.simData["stats"]["totalWaste"] = totalWaste
    self.simData["stats"]["totalHrsWithout"] = totalHrsWithout
    self.simData["stats"]["totalNumTransactions"] = self.totalNumberOfTransactions
    self.simData["stats"]["totalAmountOfGoods"] = self.totalNumberOfTransactions
    */
    var simData = JSON.parse(response.responseText);

    profitIncrease = ((simData.results.stats["avgProfit"] - simData.control.stats["avgProfit"]) / simData.control.stats["avgProfit"]) * 100
    freshnessIncrease = ((simData.results.stats["avgFreshness"] - simData.control.stats["avgFreshness"]) / simData.control.stats["avgFreshness"]) * 100
    totalWasteDecrease = simData.results.stats["totalWaste"] - simData.control.stats["totalWaste"]
    totalHrsWithoutDecrease = simData.results.stats["totalHrsWithout"] - simData.control.stats["totalHrsWithout"]
    totalNumTransactions = simData.results.stats["totalNumTransactions"]
    totalTraded = simData.results.stats["totalAmountOfGoods"]

    stats = []
    stats.push("Profit increase: " + profitIncrease.toFixed(2) + "%");
    stats.push("Freshness increase: " + freshnessIncrease.toFixed(2) + "%");
    stats.push("Total waste delta: " + totalWasteDecrease.toFixed(2) + " pounds");
    stats.push("Time without ingredient delta: " + totalHrsWithoutDecrease.toFixed(2) + " hours");
    stats.push("Total number of transactions: " + totalNumTransactions);
    stats.push("Total transaction value: $" + totalTraded.toFixed(2));

    return stats;
  }


  function getBarChartData(simData, chartType, ingrName) {
    // Converts simData JSON to chart.js data structure...

    numParticipants = parseInt($("#participants_slider").val());
    labelData = Array.apply(null, {length: numParticipants}).map(Number.call, Number)

    duration = parseInt($("#duration_slider").val()) * 24;

    experimentDataLastValues = []
    controlDataLastValues = []
    datasets = []

    // Experiment last data values
    for (key in simData.results.market) {
      lastDataVal = simData.results.market[key][ingrName][chartType][duration-1]
      experimentDataLastValues.push(lastDataVal)
    }
    
    for (key in simData.control.market) {
      lastDataVal = simData.control.market[key][ingrName][chartType][duration-1]
      controlDataLastValues.push(lastDataVal)
    }

    ctx = document.getElementById("finalStateWasteChartCanvas").getContext("2d");

    var gradient = ctx.createLinearGradient(0, 0, 0, 400);
    gradient.addColorStop(0, 'rgba(0,200,0,1)');   
    gradient.addColorStop(0.9, 'rgba(255,255,0,1)');
    gradient.addColorStop(1, 'rgba(255,255,0,.5)');

    var gradient2 = ctx.createLinearGradient(0, 0, 0, 400);
    gradient2.addColorStop(0, 'rgba(0,200,0,.5)');   
    gradient2.addColorStop(0.9, 'rgba(255,255,0,.5)');
    gradient2.addColorStop(1, 'rgba(255,255,0,.1)');


    experimentDataSet = {
      data: experimentDataLastValues,
      backgroundColor: gradient,
      hoverBackgroundColor: gradient2
    };

    controlDataSet = {
      data: controlDataLastValues,
      backgroundColor: "rgba(0,0,0,1)",
      hoverBackgroundColor: "rgba(0,0,0,1)"
    };

    datasetArray = [controlDataSet, experimentDataSet];

    chartData = {
      labels: labelData,
      datasets : datasetArray
    }

    return chartData;
  }


  function getLineChartData(simData, chartType, ingrName) {
    // Converts simData JSON to chart.js data structure...
    duration = parseInt($("#duration_slider").val());
    labelData = Array.apply(null, {length: duration}).map(Number.call, Number)

    datasetArray = []
    for (key in simData.results.market) {


      randomColor = "rgba(" + (Math.round(Math.random()*255)) + "," + (Math.round(Math.random()*255)) + "," + (Math.round(Math.random()*255)) + ",.2)";
      datasetArray.push(
        {     lineTension: 0,
          backgroundColor: "rgba(0,150,0,.1)",
          borderColor: "rgba(0,0,0,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(0,0,0,1)",
          pointBackgroundColor: "rgba(0,0,0,1)",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(0,0,0,1)",
          pointHoverBorderColor: "rgba(0,0,0,1)",
          pointHoverBorderWidth: 2,
              radius: 2, // size of points
              pointHitRadius: 10,
              data : simData.results.market[key][ingrName][chartType],

            });
    }

    chartData = {
      labels: labelData,
      datasets : datasetArray
    };

    return chartData;
  }



  // function getChartOptions(xLabel, yLabel) {
  //   chartOptions = {     
  //     scaleFontFamily : "'He'",
  //     pointLabelFontFamily : "'Helvetica'",
  //     scaleFontColor : "#ffff00",

  //     scaleOverride: true,
  //     scaleSteps: steps,
  //     scaleStepWidth: Math.ceil(max / steps),
  //     scaleStartValue: 0,


  //     scaleShowVerticalLines: false,
  //     scaleShowGridLines : false,
  //     barShowStroke : false,
  //     scaleShowLabels: true,
  //     bezierCurve: false,
  //     legendTemplate : false,

  //     tooltipsEnabled : false,
  //     tooltipsBackgroundColor : "#fff",
  //     tooltipsTitleFontColor : 'rgba(255,255,255,1)',
  //     tooltipsCornerRadius : 0,

  //      scales: {
  //       xAxes: [{
  //         scaleLabel: {

  //           display: true,
  //           labelString: xLabel,
  //         }
  //       }],
  //       yAxes: [{
  //         scaleLabel: {
  //           display: true,
  //           labelString: yLabel,

  //         }
  //       }]

  //     }

  //   };

  //   return chartOptions;
  // }

  function getBarChartOptions(xLabel, yLabel) {
    barChartOptions = {     
      scaleFontFamily : "'He'",
      pointLabelFontFamily : "'Helvetica'",
      scaleFontColor : "#000",
      
      scaleOverride: true,
      scaleSteps: steps,
      scaleStepWidth: Math.ceil(max / steps),
      scaleStartValue: 0,
      
      scaleShowVerticalLines: false,
      scaleShowGridLines : false,
      barShowStroke : false,
      scaleShowLabels: true,
      bezierCurve: false,
      legendTemplate : false,
      tooltips : {
        enabled: false      
      },

      scales: {
        xAxes: [{
          stacked:false,
          scaleLabel: {
            display: true,
            labelString: xLabel,
            
          }
        }],
        yAxes: [{
          stacked:false,
          scaleLabel: {
            display: true,
            labelString: yLabel,
            
          }
        }]

      }

    };

    return barChartOptions;
  }


  function updateSliderCount (id, val) {
    document.getElementById(id).textContent = val;
  }


  function simulate(firstTime) {
    // Collect all the data we need from sliders and shit
          // call the simulator with those parameters
          // get data back and then replace the chart with stuff
          participants = $("#participants_slider").val();
          duration = $("#duration_slider").val();
          unpredictability = $("#unpredictability_slider").val();

          // TODO how to do buttons wtf?!?
          priceButton = $("#price_button").data("clicked");
          freshnessButton = $("#freshness_button").val();
          // END TODO

          expirationTime = $("#expiration_slider").val();
          sellWeight = $("#sell_weight_slider").val();
          sellAmount = $("#sell_amount_slider").val();
          buyWeight = $("#buy_weight_slider").val();
          buyAmount = $("#buy_amount_slider").val();
          consumptionRate = 1 //$("#consume_slider").val();
          unitPrice = 5.33 //$("#price_slider").val();

          console.log("Participants: " + participants);
          console.log("Duration: " + duration);
          console.log("Unpredictability: " + unpredictability);
          console.log("price_button: " + priceButton);
          console.log("freshness_button: " + freshnessButton);
          console.log("expirationTime: " + expirationTime);
          console.log("sellWeight: " + sellWeight);
          console.log("sellAmount: " + sellAmount);
          console.log("buyWeight: " + buyWeight);
          console.log("buyAmount: " + buyAmount);
          console.log("consumptionRate: " + consumptionRate);
          console.log("unitPrice: " + unitPrice);

          /*
          Vars not included:
            priceButton
            freshnessButton
            sellAmount

          Vars that *should* be included...
            - ... maybe anything for restock params, but it seems like that will be automated...

            */

            var url_text = "/resimulate?" +
            "participants=" + participants + 
            "&duration=" + duration +
            "&unpredictability=" + unpredictability +
            "&expirationTime=" + expirationTime +
            "&consumptionRate=" + consumptionRate +
            "&unitPrice=" + unitPrice

            var request = new XMLHttpRequest();

            request.onload = function() {
              updateChart(request, firstTime);
              showChart(0);
              stats = getStatsText(request);
              console.log(stats);

              $('#stats_div p').text("Comparing our market to the status quo:");
              for (i=0; i<stats.length; i++) {
                $('#stats_div p').append("<br>");
                $('#stats_div p').append(stats[i]);
              }
            };
          // We point the request at the appropriate command
          request.open("GET", url_text, true);
          // and then we send it off
          request.send();
        }


        var charts = ["finalStateProfitChartCanvas", "finalStateFreshnessChartCanvas", "finalStateWasteChartCanvas", "finalStateHoursWithoutChartCanvas"];

        function showChart (n) {

    // hide things, reset buttons
    for (var i=0; i<charts.length; i++) {
      $("#" + charts[i]).hide();
      $("#chart" + i).css("background-color", "white");
      $("#chart" + i).css("color", "black");
    }

    // show things, set buttons
    $("#" + charts[n]).fadeIn();
    $("#chart" + n).css("background-color", "black");
    $("#chart" + n).css("color", "white");
  }


  $(document).ready(function(){
    setupChartDefaults();
    simulate(true);
    showChart(0);

    $(".simulate").click(function(){
      simulate(false);
    });
  });

  // hide the thing I hate
  $("#" + charts[0]).hide();
  </script>


  <!-- <button type="button" class="simulate" >SIMULATE</button> -->
  <section>
    <h3><b>GENERAL SETTINGS</b></h3> 


    <input id="participants_slider" type="range" min="0" max="50" step="1" value ="20" oninput="updateSliderCount('participantCount', this.value);" onmouseup="simulate(false);" />
    <h2><span id="participantCount">20</span> participants</h2> 


    <input id="duration_slider" type="range" min="7" max="60" step="1"  value ="30" oninput="updateSliderCount('durationCount', this.value);" onmouseup="simulate(false);" />
    <h2><span id="durationCount">30</span> days</h2> 

  </section>

  <section>
    <h3><b>ITEM PROPERTIES</b></h3> 


    <input id="expiration_slider" type="range" min="1" max="14" step="1" value ="7" oninput="updateSliderCount('expirationCount', this.value);" onmouseup="simulate(false);" />
    <h2><span id="expirationCount">7</span> day expiration</h2> 

  <!--
  <input id="price_slider" type="range" min="0" max="20" step="1" value ="10" oninput="updateSliderCount('priceCount', this.value);"/>
  <h2>$<span id="priceCount">10</span> / lb</h2> 

  <input id="consume_slider" type="range" min="0" max="20" step="1" value ="5" oninput="updateSliderCount('consumeCount', this.value);"/>
  <h2><span id="consumeCount">5</span> lbs consumed / hour</h2> 
  -->

  <input id="unpredictability_slider" type="range" min="0" max="100" step="1"  value ="50" oninput="updateSliderCount('predictCount', this.value);" onmouseup="simulate(false);" />
  <h2><span id="predictCount">50</span>% unpredictable demand</h2> 

  </section>
  </aside>
  </div>


  <div id="chartMenu">
  <a href="javascript:showChart(0);"><div class="chartHeader" id="chart0">NET PROFIT</div></a>
    <a href="javascript:showChart(1);"><div class="chartHeader" id="chart1">AVERAGE FRESHNESS</div></a>
    <a href="javascript:showChart(2);"><div class="chartHeader" id="chart2">TOTAL WASTE (LBS)</div></a>
    <a href="javascript:showChart(3);"><div class="chartHeader" id="chart3">TIME WITHOUT ITEM (HOURS)</div></a>
  </div>

  <div id="barGraphArea">
    <!-- bar chart canvas element -->


    <div id="charts">
      <!-- BAR CHARTS -->

      <canvas id="finalStateProfitChartCanvas"></canvas>

      <canvas id="finalStateFreshnessChartCanvas"></canvas>

      <canvas id="finalStateWasteChartCanvas"></canvas>

      <canvas id="finalStateHoursWithoutChartCanvas"></canvas>

        <!-- LINE CHARTS 
        <canvas id="profitChartCanvas" width= "600" height="400"></canvas>
        <h4>PROFIT / TIME</h4>

        <canvas id="freshnessChartCanvas" width="600" height="400"></canvas>
        <h4>FRESHNESS / TIME</h3>

        <canvas id="wasteChartCanvas" width="600" height="400"></canvas>
        <h4>WASTE / TIME</h3>

        <canvas id="outOfStockChartCanvas" width="600" height="400"></canvas>
        <h4>INGREDIENT DEFICIT / TIME</h3>
        -->
      </div>
      <div id="stats_div">
        <p></p>
      </div>
    </div>

    <script>

    randomColor = "rgba(" + (Math.round(Math.random()*255)) + "," + (Math.round(Math.random()*255)) + "," + (Math.round(Math.random()*255)) + ",.5)";

    </script>
    <style>
a:hover{color:lightgreen;}
</style>
    </html>