
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>PLENTY</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
     <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <nav>
	<li>
		<a href="/">plenty</a>
		<a href="brief">BRIEF</a>
		<a href="research">RESEARCH</a>
		<a href="prototypes">PROTOTYPES</a>
		<a href="runSim">SIMULATION</a>
		<a href="insights" class="activePage">INSIGHTS</a>
		<a href="team">TEAM</a>
	</li>
  </nav>
<!-- insight1-->
	<div class="divSlide" id="insight1">
<center>
</center>
			<h5>“insight 1</h5>
			<h4>cool</h4>
			<a href="#insight2"> <h7>next insight</h7> </a>
	</div>

<!-- insight2-->
	<div class="divSlide" id="insight2">
			<center>
</center>
			<h5>insight 2</h5>
			<h4>cool</h4>
			<a href="#insight3"> <h7>next insight</h7> </a>
	</div>
<!-- insight3-->
	<div class="divSlide" id="insight3">
		<center>
		
</center>
			<h5>insight 3</h5> 
			<h4>cool</h4>
			<a href="#insight4"> <h7>next insight</h7> </a>
	</div>

<!-- insight4-->
		<div class="divSlide" id="insight4">
		<center>
			
</center>
			<h4>insight 4</h4>
			<a href="/team"> <h7>meet the team</h7> </a>
	</div>

</body>
   <style>
a:hover{color:lightgreen;}
</style>
</html>