
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>PLENTY</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
     <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <nav>
	<li>
		<a href="/">plenty</a>
		<a href="brief">BRIEF</a>
		<a href="research">RESEARCH</a>
		<a href="prototypes">PROTOTYPES</a>
		<a href="runSim">SIMULATION</a>
		<a href="insights" class="activePage">INSIGHTS</a>
		<a href="team">TEAM</a>
	</li>
  </nav>
<div class="content">
<!-- insight1-->
	<div class="divSlide" id="insight1">
<center>
</center>
			<h5>“I would love to make butternut squash eggs benedict . . . but I can’t use all 50 lbs of squash.”</h5>
			<h4>— Manager/Cook, Sally's Diner</h4>
			<a href="#insight2"> <h3>go to insight2</h3> </a>
	</div>

<!-- insight2-->
	<div class="divSlide" id="insight2">
			<center>
</center>
			<h5>“I always dread checking inventory because the bins are heavy and hard to reach.”</h5>
			<h4>— Owner, Wolfe Lunch</h4>
			<a href="#insight3"> <h3>go to insight3</h3> </a>
	</div>
<!-- insight3-->
	<div class="divSlide" id="insight3">
		<center>
		
</center>
			<h5>“When I’m out of an ingredient, I run to Whole Foods because I don’t want to lose my parking space . . . it is four times more expensive.”</h5> 
			<h4>— Owner, Pastel Brazzuca</h4>
			<a href="#insight4"> <h3>go to insight4</h3> </a>
	</div>

<!-- insight4-->
		<div class="divSlide" id="insight4">
		<center>
			
</center>
			<h4>Advantages of a Franchise - Inventory Manager, Dos Pinas</h4>
			<a href="#about"> <h3>about us</h3> </a>
	</div>

	</div>
</body>
   <style>
a:hover{color:lightgreen;}
</style>
</html>