
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>PLENTY</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
     <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="styles.css"> 
</head>

<body>
  <nav>
<li>
<a href="/">plenty</a>
<a href="brief">BRIEF</a>
<a href="research">RESEARCH</a>
<a href="prototypes">PROTOTYPES</a>
<a href="runSim">SIMULATION</a>
<a href="insights">INSIGHTS</a>
<a href="team">TEAM</a>
</li>
</nav>

<h1>INTRO</h1>


</body>

</html>