
	<!DOCTYPE html>
	<html lang="en">

	<head>
	   <meta charset="utf-8" />
	   <title>PLENTY</title>
	   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
	    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	   <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="static/style.css">

	<body>
	  <nav>
		<li>
			<a href="/">plenty</a>
			<a href="brief">BRIEF</a>
			<a href="research">RESEARCH</a>
			<a href="prototypes" class="activePage">PROTOTYPES</a>
			<a href="runSim">SIMULATION</a>
			<a href="insights">INSIGHTS</a>
			<a href="team">TEAM</a>
		</li>
	  </nav>
<br></br>
<br></br>
<br></br>
	  <div class="content">
		<a id="topThingy" href="#bottomThingy"> This is a test</a>
		<a id="firstPic" href="#secondPic" <center><img src="static/scale.png"></center>
		<br></br> </a>
		<a id="secondPic" href="#firstPic" <center><img src="static/scale2.jpg"></center>
		<br></br> </a>
		<center><img src="static/scale3.jpg"></center>
		<a id="bottomThingy" href="#topThingy"> we're here meow </a>
		<br></br>
		<center><iframe width="396" height="858" src="//invis.io/2B89S7O4H" frameborder="0" allowfullscreen></iframe></center>
	  <div class="content">

	</body>


	<style>

	img {width: 60%;
	     margin: 0px;
	}
 
a:hover{color:lightgreen;}
</style>
	</html>