
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>PLENTY</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">

<body>
  <nav>
<li>
<a href="/">plenty</a>
<a href="brief">BRIEF</a>
<a href="prototypes" class="activePage">PROTOTYPES</a>
<a href="runSim">SIMULATION</a>
<a href="insights">INSIGHTS</a>
<a href="about">ABOUT</a>
</li>
</nav>
<h1>PROTOTYPES</h1>
<!--<img src="/static/app_prototype.png">-->
<center><img src="static/scale.png"></center>
<center><img src="static/scale2.jpg"></center>
<center><img src="static/scale3.jpg"></center>

<center><iframe width="396" height="858" src="//invis.io/2B89S7O4H" frameborder="0" allowfullscreen></iframe></center>

</body>


<style>

img {width: 50%;
     margin: 0px;
}

</html>